## *** Fun picture ***

# Tanzanian Water Well Analysis

**Authors:** Juan Acosta, Drew Holcombe, and Raul Torres
***

# Overview

A one-paragraph overview of the project, including the business problem, data, methods, results and recommendations.

# Business Problem

Summary of the business problem you are trying to solve, and the data questions that you plan to answer to solve them.

***
Questions to consider:
* What are the business's pain points related to this project?
* How did you pick the data analysis question(s) that you did?
* Why are these questions important from a business perspective?
***

# Data Understanding

Describe the data being used for this project.
***
Questions to consider:
* Where did the data come from, and how do they relate to the data analysis questions?
* What do the data represent? Who is in the sample and what variables are included?
* What is the target variable?
* What are the properties of the variables you intend to use?
***

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import plot_confusion_matrix, recall_score,\
    accuracy_score, precision_score, f1_score
from sklearn.tree import DecisionTreeClassifier, plot_tree

from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline as ImPipeline

In [2]:
! ls ".\data"

training_set_labels.csv
training_set_values.csv

Our data is split between two files - labels and values. The source also included a "test set"; however, this set did not contain the wells' functionality, our target variable. As such, we'll treat the "training data" as our full dataset.

In [3]:
train_values = pd.read_csv("./data/training_set_values.csv")
train_labels = pd.read_csv("./data/training_set_labels.csv")

In [4]:
train_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

In [5]:
train_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            59400 non-null  int64
 1   status_group  59400 non-null  object
dtypes: int64(1), object(1)
memory usage: 928.2+ KB

The data will be easiest to work with if we merge the two.

In [6]:
df = train_values.merge(train_labels)

The columns are described [here](https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/25/), but the information provided is far from exhaustive, and many terms are not defined. We'll have to explore what we can work with, and what we're unable to understand and, by extension, present.

# Data Preparation

Nulls are found throughout the dataset, which will have to be handled on a case-by-case basis. We'll also have to deal with variables that are not defined in a way that we can understand.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [8]:
# Date recorded is formatted as an object - we'll convert it into a
# timestamp so we can work with it more easily.
df["date_recorded"] = pd.to_datetime(df["date_recorded"])

In [9]:
df["status_group"].value_counts(normalize=True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64

## Columns Lacking Usable/Useful Information

In [10]:
drop_columns = []

In [11]:
df["id"].value_counts()

2047     1
72310    1
49805    1
51852    1
62091    1
        ..
46396    1
36155    1
34106    1
38200    1
0        1
Name: id, Length: 59400, dtype: int64

These unique IDs are not helpful, as we already have the index of the df anyway.

The date_recorded and recorded_by also wouldn't be contributing factors; we'll drop this as well.

In [12]:
drop_columns.extend(["date_recorded", "recorded_by"])

In [13]:
df["public_meeting"].value_counts()

True     51011
False     5055
Name: public_meeting, dtype: int64

This column is described only as "true/false." As we cannot report on it, this column will need to be dropped from our analysis.

In [14]:
drop_columns.append("public_meeting")

In [15]:
df['num_private'].value_counts()

0      58643
6         81
1         73
5         46
8         46
       ...
180        1
213        1
23         1
55         1
94         1
Name: num_private, Length: 65, dtype: int64

This column also has no description from the source, so we'll drop it as well.

In [16]:
drop_columns.append("num_private")

In [17]:
df["wpt_name"].value_counts()

none                  3563
Shuleni               1748
Zahanati               830
Msikitini              535
Kanisani               323
                      ...
Area Two Namba 18        1
Boma Saving              1
Mch. Julias              1
Fanuel Akyoo             1
Kanisani La Mitume       1
Name: wpt_name, Length: 37400, dtype: int64

This column indicates specific waterpoints, but with so many unique waterpoints represented in the set (waterpoints with only one well), it won't give our model useful information.

In [18]:
drop_columns.append("wpt_name")

In [19]:
df["installer"].isna().sum()

3655

In [20]:
list(df["installer"].unique())

['Roman',
 'GRUMETI',
 'World vision',
 'UNICEF',
 'Artisan',
 'DWE',
 'DWSP',
 'Water Aid',
 'Private',
 'DANIDA',
 'Lawatefuka water sup',
 'WEDECO',
 'Danid',
 'TWE',
 'ISF',
 'Kilolo Star',
 'District council',
 'Water',
 'WU',
 nan,
 'Not known',
 'Central government',
 'CEFA',
 'Commu',
 'Accra',
 'World Vision',
 'LGA',
 'MUWSA',
 'KKKT _ Konde and DWE',
 'Government',
 'Olgilai village community',
 'KKKT',
 'RWE',
 'Adra /Community',
 'SEMA',
 'SHIPO',
 'HESAWA',
 'ACRA',
 'Community',
 'IFAD',
 'Sengerema Water Department',
 'HE',
 'ISF and TACARE',
 'Kokeni',
 'DA',
 'Adra',
 'ALLYS',
 'AICT',
 'KIUMA',
 'CES',
 'District Counci',
 'Ruthe',
 'Adra/Community',
 'Tulawaka Gold Mine',
 'KKT C',
 'Hesawa',
 'Water board',
 'LOCAL CONTRACT',
 'WFP',
 'LIPS',
 'TASAF',
 'World',
 '0',
 'SW',
 'Shipo',
 'Fini water',
 'Kanisa',
 'OXFARM',
 'VILLAGE COUNCIL Orpha',
 'Villagers',
 'Idara ya maji',
 'FPCT',
 'WVT',
 'Ir',
 'DANID',
 'Angli',
 'secondary school',
 'Amref',
 'JBG',
 'DADIS',
 'International Aid Services',
 'RW',
 'Dmdd',
 'TCRS',
 'RC Church',
 'WATER AID',
 'JICA',
 'Gwasco L',
 'AF',
 'AMREF',
 'wananchi',
 'FW',
 'Central Government',
 'MWE &',
 'Gove',
 'RC CHURCH',
 'TDFT',
 'RWE/DWE',
 'Central govt',
 'World Bank',
 'TWESA',
 'Norad',
 'Hans',
 'FinW',
 'FIN WATER',
 'OXFAM',
 'Plan Internationa',
 'District Council',
 'RWEDWE',
 'Fini Water',
 'ANGLI',
 'CDT',
 'North',
 'Oikos E .Africa',
 'SHAWASA',
 'UN',
 'NORAD',
 'Save the rain',
 'John gemuta co',
 'TLC',
 'RC Churc',
 'Plan Int',
 'Phase',
 'LVIA',
 'Rhobi',
 'Makonde water population',
 'RWE/ Community',
 'Is',
 'KILI WATER',
 'RDDC',
 'FINN WATER',
 'FINI WATER',
 'DHV',
 'Kamama',
 'DDCA',
 'Victoria company',
 'RWSSP',
 'Ce',
 'KYASHA ENTERPR',
 'ERETO',
 'REDESO',
 'Villa',
 'Priva',
 'KUWAIT',
 'Mw',
 'Magadini-Makiwaru wa',
 'Dr. Matomola',
 'Af',
 'RCchurch/CEFA',
 'Tardo',
 'GOVERNMENT',
 'Individuals',
 'Chamavita',
 'GEN',
 'Missi',
 'Safari Roya',
 'DAWASCO',
 'Gover',
 'Mission',
 'DWE/',
 'Halmashauri ya wilaya sikonge',
 'Ki',
 'Rhoda',
 'HAPA SINGIDA',
 'Consulting Engineer',
 'Karugendo',
 'Co',
 'Marafip',
 'COSMOS ENG LTD',
 'World banks',
 'Tanz',
 'Handeni Trunk Main(',
 'SIMBA CO',
 'Local technician',
 'Village',
 'Centr',
 'CONS',
 'DW',
 'DCT',
 'IRC',
 'District water department',
 'Sabodo',
 'MLADE',
 'I.E.C',
 'LWI',
 'Kiliflora',
 'ICS',
 'T. N. karugendo',
 'DED',
 'Kuwait',
 'ADP',
 'JUIN CO',
 'BILILA',
 'TPP',
 'GOVER',
 'CIPRO/Government',
 'MWE',
 'MTUWASA',
 'Unisef',
 'REGIONAL WATER ENGINEER ARUSHA',
 'IDARA',
 'Wizara ya maji',
 'Tasaf and Lga',
 'JAICA',
 'KKKT-Dioces ya Pare',
 'Onesm',
 'Te',
 'MTN',
 'HESAWS',
 'Islamic',
 'Local',
 'KTA C',
 'RC',
 'Killflora /Community',
 'Distri',
 'Maji block',
 'CALTAZ KAHAMA',
 'GOVERNME',
 'Omar Ally',
 'HAM',
 'QUWKWIN',
 'ADRA',
 'DO',
 'DH',
 'RC Ch',
 'SAXON BUILDING CONTRACTOR',
 'Bokera W',
 'Bulyahunlu Gold Mine',
 'MBIUWASA',
 'ADRA /Government',
 'The Isla',
 'Rotary club',
 'YELL LTD',
 'Care international',
 'KIMKUM',
 'Tanesco',
 'CJEJOW CONSTRUCTION',
 'Victoria',
 'TLTC',
 'Wachina',
 'WE',
 'HSW',
 'Communit',
 'Kibaha Town Council',
 'Dr. Matobola',
 'Go',
 'DWR',
 'Huches',
 'WATERAID',
 'Maswi company',
 'Kiliwater',
 'TA',
 'wanan',
 'MEM',
 'Region water Department',
 'Jeica',
 'Ndanda missions',
 'District Water Department',
 'MSF/TACARE',
 'Fathe',
 'DARDO',
 'Wa',
 'MSIKIT',
 'Regional Water',
 'D',
 'VILLAGE COUNCIL',
 'RDC',
 'TLC/John Majala',
 'Kilwa company',
 'Local  technician',
 'TASSAF',
 'VWC',
 'PIDP',
 'TAN PLANT LTD',
 'Japan Government',
 'Kata',
 'GTZ',
 'ISF/Government',
 'KUWASA',
 'Hydrotec',
 'Pr',
 'Ch',
 'Jaica',
 'Taboma/Community',
 'P',
 'Ubung',
 'Chur',
 'BESADA',
 'Action Contre La Faim',
 'Wanjoda',
 'CBHCC',
 'HW/RC',
 'Sumbaw',
 'CCEC',
 'Nice',
 'CCT',
 'World Vission',
 'Inter',
 'DMMD',
 'WORLD BANK',
 'AQUA BLUES ANGELS',
 'MACK DONALD CONTRACTOR',
 'Water Aid /sema',
 'Henure Dema',
 'Kirdep',
 'ADRA/Government',
 'Kilwater',
 'Da',
 'Villi',
 'KOYI',
 'AD',
 'Arab community',
 'District water depar',
 'HOLLAND',
 'RC church/Central Gover',
 'Active MKM',
 'GEOTAN',
 'LENCH',
 'NCAA',
 'CHINA HENAN CONSTUCTION',
 'Kaembe',
 'Ma',
 'FinWater',
 'Kuamu',
 'Adra/ Community',
 'Locall technician',
 'UKILIG',
 'Mbunge',
 'The desk and chair foundat',
 'DUWAS',
 'Diwani',
 'Biore',
 'Water aid /sema',
 'KKKT CHURCH',
 'EA',
 'Halmashauri ya manispa tabora',
 'ML appro',
 'SHY BUILDERS',
 'Finwater',
 'JIKA',
 'Orien',
 'DMDD',
 'DWE}',
 'CDTF',
 'KAEMP',
 'TUWASA',
 'MARAFIP',
 'MDRDP',
 'Jeshi la wokovu',
 'kuwait',
 'MBOMA',
 'Grobal resource alliance',
 'Village Council',
 'Shamte Said',
 'AUWASA',
 'WSDP',
 'COUN',
 'KIDP',
 'Mombo urban water s',
 'TRIDEP',
 'Wananchi',
 'Martha Emanuel',
 'St',
 'GIDA contractor',
 'WD and ID',
 'Padep',
 'Po',
 'Village Counil',
 'MINISTRY OF WATER',
 'Ga',
 'K',
 'Swiss If',
 'Miziriol',
 'Yasini Selemani',
 'DBSPE',
 'European Union',
 'H',
 'TPP TRUSTMOSHI',
 'Atisan',
 'Jika',
 'ISF/TACARE',
 'Oikos E.Africa',
 'Hydom Luthelani',
 'Kalumbwa',
 'ILCT',
 'MS',
 'RUVUMA BASIN',
 'Gold star',
 'Mi',
 'Mzungu Paul',
 'Kanisa katoliki',
 'Caltas',
 'RED CROSS',
 'World bank',
 'Losaa-Kia water supp',
 'Jica',
 'PET',
 'Finland Government',
 'GAICA',
 'Institution',
 'TCRS/TLC',
 'Loliondo Parish',
 'GACHUMA CONSTRUCTION',
 'Diocese of Geita',
 'Villages',
 'MSABI',
 'Total landcare',
 'VICTORIA DRILL CO',
 'U.S.A',
 'VTECOS',
 'COW',
 'Vill',
 'Contr',
 'Wadeco',
 'KIM KIM CONSTRUCTION',
 'Msabi',
 'VC',
 'CMSR',
 'Ko',
 'Roman Catholic Rulenge Diocese',
 'Shule',
 'W',
 'inkinda',
 'Africa Amini Alama',
 'Consultant',
 'L',
 'Moroil',
 'Sekei village community',
 'US Embassy',
 'PIT COOPERATION  LTD',
 'Do',
 'world',
 'Government /TCRS',
 'UNHCR',
 'DESK C',
 'Dr.Matomola',
 'FOLAC',
 'Village govt',
 'BSF',
 'Roman Cathoric Same',
 'RWE/Community',
 'Mileniam project',
 'ACTIVE TANK CO',
 'Ncaa',
 'Africa Islamic Agency Tanzania',
 'Max Mbise',
 'DADS',
 'Institutional',
 'SOWASA',
 'CCPK',
 'AUSTRALIA',
 'not known',
 'Kalago enterprises Co.Ltd',
 'Roman Catholic',
 'NANRA contractor',
 'WORLD VISION',
 'No',
 'ADP Busangi',
 'TSRC',
 'SOLIDAME',
 'Barry A. Murphy',
 'Tanzania Government',
 'WILLIAMSON DIAMOND LTD',
 'TAG',
 'The I',
 'Total Landcare',
 'CENTRAL GOVERNMENT',
 'Arabs Community',
 'Secondary school',
 'Water Aid/Sema',
 'Jiks',
 'Konoike',
 'ABASIA',
 'LAMP',
 'SINGIDA YETU',
 'RWSP',
 'MDALA Contractor',
 'Netherlands',
 'DWT',
 'TCRS /CARE',
 'Makonde',
 'Japan',
 'Milenium',
 'Goldstar',
 'District COUNCIL',
 'MUWASA',
 'Green',
 'Kigoma municipal',
 'KINAPA',
 'CHINA HENAN CONTRACTOR',
 'Musa',
 'TANAPA',
 'Ministry of water engineer',
 'EFG',
 'MASWI',
 'Kyariga',
 'Roman Cathoric -Kilomeni',
 'Mbozi Secondary School',
 'TASAF/DMDD',
 'MWS',
 'Roman catholic',
 'Shekhe',
 'Rished',
 'KONOIKE',
 'Pata',
 'TAHEA',
 'Luthe',
 'Kalta',
 'Pentecost church',
 'Amboni Plantation',
 'Municipal',
 'Sekondari',
 'Kalitasi',
 'HOTELS AND LOGGS TZ LTD',
 'DISTRICT COUNCIL',
 'Germany',
 'Orphanage',
 'WWF',
 'W.B',
 'IDYDC',
 'SIA Ltd',
 'WINAM  CONSTRUCTION',
 'RIDEP',
 'NORA',
 'SCHOOL',
 'Village community',
 'British',
 'Msuba',
 'Villaers',
 'TLC/Thimotheo Masunga',
 'WB',
 'Council',
 'DAK',
 'COCANE',
 'WINAMU CO',
 'Ubalozi wa Marekani',
 'Conce',
 'BGM',
 'DMK',
 'Mviwa',
 'KA',
 'MGM',
 'AIMGOLD',
 'YEBE CHIKOMESH',
 'Omari Mzee',
 'Petro Patrice',
 'Camartec',
 'Total land care',
 'Wasso companies',
 'DASP',
 'Islamic Agency Tanzania',
 'Tanz Egypt technical coopera',
 'Village Govt',
 'local technician',
 'TAWASA',
 'WATER  AID',
 'AAR',
 'MSF',
 'Di',
 'Mackd',
 'MAMAD',
 'PADEP',
 'Fabia',
 'CONCERN',
 'ITALI',
 'Water aid/sema',
 'Save the rain USA',
 'Plan Tanzania',
 'Roman Church',
 'Singasinga',
 'RC/Mission',
 'In',
 'V',
 'Korogwe water works',
 'PCI',
 'Atlas',
 'DWE /TASSAF',
 'Local te',
 'World Division',
 'Gwaseco',
 'Kambi Migoko',
 'AI',
 'SAUWASA',
 'Nyakilanganyi',
 'DEE',
 'MANYARA CONSTRUCTION',
 'Rotte',
 'KMCL',
 'LINDALA CO',
 'Government /Community',
 'CCPS',
 'SI',
 'Rundu man',
 'Water Aid/sema',
 'Naishu construction co. ltd',
 'WOULD BANK',
 'Mark',
 'Cosmo',
 'Halmashauri',
 'Concern /government',
 'Quick win project',
 'Mh Kapuya',
 'Halmashauri ya wilaya',
 'Edward',
 'COMMU',
 'Baric',
 'Consuting Engineer',
 'JANDU PLUMBER CO',
 'FiNI WATER',
 'CPRO',
 'Getekwe',
 'Jicks',
 'Wahidi',
 'Mohamed Ally',
 'ASDP',
 'CITIZEN ENGINE',
 'KADP',
 'Dar es salaam Technician',
 'Halmashauli',
 'ACORD',
 'MA',
 'Water  Aid/Sema',
 'RC church/CEFA',
 'Wedeco',
 'DWE/Ubalozi wa Marekani',
 'VIFAFI',
 'Kwasenenge Group',
 'Cosmos Engineering',
 'OLDONYOLENGAI',
 'NYAKILANGANI CO',
 'Village Community',
 'MINJINGU',
 'EL',
 'Songa',
 'Consultant and DWE',
 'AC',
 'Gain',
 'DASIP',
 'TANROAD',
 'Tasaf',
 'Wasso',
 'Teonas Wambura',
 'Mgaya Masese',
 'TUKWALE ENTERP',
 'Sao',
 'MWAKI CONTRACTOR',
 'VIEN CONSTRUCTION',
 'mwita kichere',
 'DADS/village community',
 'Africare',
 'Mosque',
 'Chiko',
 'central government',
 'VITECOS',
 'IN',
 'Msikiti',
 'Word Bank',
 'Kwamdulu estate',
 'SEMA Consultant',
 'Concern',
 'Belgiam Government',
 'Wanan',
 'Exaud Msambwa',
 'Niger',
 'MWANZA',
 'SONGAS',
 'MINISTRYOF WATER',
 'COMMUNITY',
 'Zaburi and neighbors',
 'NDM',
 'Killflora/ Community',
 'PART',
 'secondary',
 "lion's club",
 'lutheran church',
 'Mileniam',
 'UYOGE',
 'Christina Magoge',
 'Canada na Tanzania',
 'FRANKFURT',
 'GOVERM',
 'Kuji foundation',
 'Mamvua Kakungu',
 'Rusumo Game reserve',
 'MTUWASA and Community',
 'ACT MARA',
 'UMOJA DRILLING',
 'KkKT',
 'SDA',
 'Mzinga A',
 'RE',
 'LOOCIP',
 'SUA',
 'RUNDAGA',
 'RWE /Community',
 'Wo',
 'Happy watoto foundation',
 'GDP',
 'ViLLAGE COUNCIL',
 'MBULU DISTRICT COUNCIL',
 'Maliasili',
 'Roman Ca',
 'NZILA',
 'stansilaus',
 'AFRICAN DEVELOPMENT FOUNDATION',
 'FPTC',
 'KARUMBA BIULDING COMPANY LTD',
 'Kalugendo',
 'Village Government',
 'Tabraki',
 'MASWI DRILLING',
 'Ikela Wa',
 'Shallow well',
 'WEDECO/WESSONS',
 'CIPRO/CARE/TCRS',
 'Wasso contractors',
 'villagers',
 'Mwanga town water authority',
 'Jumanne Siabo',
 'Mama Kalage',
 'Hindu',
 'Rural',
 'TANAP',
 'Makonde water supply',
 'villigers',
 'Bingo foundation Germany',
 'Ilwilo community',
 'St ph',
 'WDECO',
 'LIVI',
 'Pet Corporation Ltd',
 'DWE & LWI',
 'LC',
 'KKKT Leguruki',
 'HIAP',
 'Matyenye',
 'DIMON',
 'Italy government',
 'MASWI DRILL',
 'WVC',
 'TACRI',
 'Hasnein Murij',
 'SIMBA LODGE',
 'Faudh Tamimu',
 'Free Pentecoste Church of Tanz',
 'Summit for water/Community',
 'Sanje Wa',
 'Makundya',
 'Individual',
 'OLA',
 'RC C',
 'TREDEP',
 'Consultant Engineer',
 'AQUA WEL',
 'Cental Government',
 'Nyanza road',
 'Kizenga',
 'KKT',
 'HAPA',
 'Oikos E. Africa',
 'Ramadhani Nyambizi',
 'Mdala Contractor',
 'DENISH',
 'Mkuyu',
 'GOVERN',
 'GACHUMA GINERY',
 'Resolute',
 'Morrov',
 'Serikali ya kijiji',
 'Counc',
 'Igolola community',
 'S',
 'NYAKILANGANI CONSTRUCTION',
 'RDWS',
 'Said Omari',
 'AFRICA MUSLIM',
 'IADO',
 'W/',
 'Ngiresi village community',
 'UDC/Sema',
 'AMP contractor',
 'rc ch',
 'QWICKWIN',
 'Mwita Muremi',
 'TLC/Samora',
 'Oikos E.Afrika',
 'Ruangwa contractor',
 'HAYDOM LUTHERAN HOSPITAL',
 'VICFISH LTD',
 'Lindi contractor',
 'RC CH',
 'Kilomber',
 'Pet Coporation Ltd',
 'Afroz Ismail',
 'Ja',
 'commu',
 'Sisal Estste Hale',
 'KOREA',
 'CVS Miss',
 'Songas',
 'Living water international',
 'Kajima',
 'Missio',
 'UAACC',
 'GERMANY MISSIONARY',
 'MI',
 'Rips',
 'LVA Ltd',
 'BUKUMB',
 'Taasi',
 'STAMPERS',
 'Meru Concrete',
 'WIZARA',
 'MLAKI CO',
 'Segera Estate',
 'WADECO',
 'Hospi',
 'Cebtral Government',
 'local  technician',
 'Siza Mayengo',
 'SAXON',
 'Greec',
 'KASHERE',
 'GURUMETI SAGITA CO',
 'China',
 'MP',
 'Islam',
 'water board',
 'AMP Contract',
 'Thomasi busigaye',
 'Local technitian',
 'SIJM',
 'KKKT Ndrumangeni',
 'YUMBAKA ENGINEERING',
 'TAG CHURCH',
 'Usambala sisters',
 'KOBERG Contractor',
 'hesawa',
 'Water Authority',
 'Mr Chi',
 'Hearts helping hands.Inc.',
 'IDEA',
 'Selous G',
 'SULEMAN IDD',
 'Pump entecostal Sweeden',
 'Ester Ndege',
 'Nyabarongo Kegoro',
 'Canop',
 'QUIK',
 'DADP',
 'Kanisani',
 'CARTAS',
 'Mzung',
 'wizara ya maji',
 'VILLAGE COUNCIL .ODA',
 'CG',
 'Caltus',
 'Cons',
 'ISSAC MOLLEL',
 'malola',
 'DCCA',
 'Juma Maro',
 'Water Project Mbawala chini',
 'Unicef',
 'Totoland care',
 'Maswi drilling co ltd',
 'NDDP',
 'KMT',
 'NGINIL',
 'Serengeti District concil',
 'RC church',
 'VILLAG',
 'Local technical tec',
 'Cultus',
 'T',
 'Hery',
 'OBC',
 'RUDEP',
 'RWE Community',
 'Nyamongo Gold mining',
 'Redep',
 'Norani',
 'Mahita',
 '-',
 'Villag',
 'germany',
 'KARUMBA BIULDIN',
 'AIXOS',
 'Selikali',
 'DDP',
 'Village government',
 'Zacharia MTN',
 'Africa',
 'PAD',
 'KASHWA',
 'TWENDE PAMOJA',
 'Uhai wa mama na mtoto',
 'OLOMOLOKI',
 'Ardhi water well',
 'Distric Water Department',
 'gwitembe',
 'Conta',
 'HOWARD HUMFREYS',
 'SHUWASA',
 'JANDU PLUMBER  CO',
 'Makori',
 'Sangea District Coun',
 'CHINA',
 'British colonial government',
 'Maendeleo ya jamii',
 'CARITAS',
 'Taes',
 'KWIKWIZ',
 'SEMA CO LTD',
 'SENAPA',
 'REGWA COMPANY OF EGYPT',
 'COBASHEC',
 'AQUA Wat',
 'Dr.Matobola',
 'Central basin',
 'Mamlaka ya maji ngara',
 'PRF',
 'Church',
 'Magadini Makiwaru wa',
 'Mpang',
 'KAYEMPU LTD',
 'TRACHOMA',
 'FURAHIA TRADING',
 'HESAW',
 'Moravian',
 'Samsoni',
 'MD',
 'GURUMETI SAGITA',
 'Songea District Coun',
 'Cast',
 'N.P.R.',
 'Panone',
 'Hemed Abdallah',
 'Lawate fuka water su',
 'St Gasper',
 'WINNIN SPIRIT CO',
 'Ha',
 'MMG GOLD MINE',
 'P.N.R.',
 'Nandra Construction',
 'Mchuk',
 'African Realief Committe of Ku',
 'SCOTT',
 'D$L',
 'Mzungu',
 'Vi',
 'JLH CO LTD',
 'Msiki',
 'Namungo',
 'Nassor Fehed',
 'TWESA /Community',
 'DBFPE',
 'EF',
 'Serikali',
 'Mgaya Mwita',
 'Clause workers',
 'MLAKI  CO',
 'Busoga trust',
 'mzee mabena',
 'NORAD/',
 'BR',
 'local technitian',
 'Comunity',
 'Brad',
 'Tanganyika Basin',
 'MORNING CONSTRUCTION',
 'Healt',
 'Governme',
 'Roma',
 'KUMKUM',
 'PNR co',
 'Muslims',
 'Paffec',
 'Tansi',
 'CRAELIUS',
 'APM',
 'Zao water spring X',
 'TASA',
 'CSPD',
 'CIPRO/CARE',
 'DALDO',
 'VIFAF',
 'MTC',
 'TCRS Kibondo',
 'Howard and humfrey consultant',
 'RUDEP/',
 'LUNGWE',
 'Dhinu',
 'AIC KI',
 'Mataro',
 'FINI Water',
 'Mombo urban water',
 'REDAP',
 'Kagulo',
 'TMP',
 ...]

Unfortunately, the installer column is not well-formatted. We see a number of versions of the same concept (particularly versions of "unknown," "government," and various school groups). As such, while this could be useful information, we do not have time to clean this data and will have to drop this column. With additional time and resources, this could be worth revisiting.

In [21]:
drop_columns.append("installer")

In [22]:
df["funder"].isna().sum()

3635

In [23]:
df["funder"].value_counts()

Government Of Tanzania    9084
Danida                    3114
Hesawa                    2202
Rwssp                     1374
World Bank                1349
                          ...
Kaaya                        1
Hez                          1
Mikumi G                     1
Hery                         1
Ded_rwsp                     1
Name: funder, Length: 1897, dtype: int64

In [24]:
list(df["funder"].unique())

['Roman',
 'Grumeti',
 'Lottery Club',
 'Unicef',
 'Action In A',
 'Mkinga Distric Coun',
 'Dwsp',
 'Rwssp',
 'Wateraid',
 'Isingiro Ho',
 'Private',
 'Danida',
 'World Vision',
 'Lawatefuka Water Supply',
 'Biore',
 'Rudep',
 'Hesawa',
 'Twe',
 'Isf',
 'African Development Bank',
 'Government Of Tanzania',
 'Sobodo',
 'Water',
 'Private Individual',
 'Undp',
 nan,
 'Not Known',
 'Kirde',
 'Cefa',
 'Ces(gmbh)',
 'European Union',
 'Lga',
 'District Council',
 'Muwsa',
 'Dwe/norad',
 'Kkkt_makwale',
 'Sawaka',
 'Ces (gmbh)',
 'Olgilai Village Community',
 'Kkkt',
 'Roman Catholic',
 'Norad',
 'Adra',
 'Sema',
 'Piusi',
 'Dwe',
 'Rc Church',
 'Swisland/ Mount Meru Flowers',
 'Ifad',
 'Swedish',
 'Idc',
 'He',
 'Isf/tacare',
 'Jica',
 'Mzee Sh',
 'Aict',
 'Tcrs',
 'Kiuma',
 'Germany Republi',
 'Netherlands',
 'Ruthe',
 'Tulawaka Gold Mine',
 'Nethalan',
 'Tasaf',
 'Concern World Wide',
 'Wfp',
 'Lips',
 'Sida',
 'World Bank',
 'Tanza',
 '0',
 'Sw',
 'Shipo',
 'Fini Water',
 'Kanisa',
 'Oxfarm',
 'Village Council',
 'Hesawz',
 'Shanta',
 'Fpct',
 'Wvt',
 'Dhv',
 'Ir',
 'Oikos E.Afrika',
 'Anglican Church',
 'Peters',
 'Donor',
 'Secondary Schoo',
 'Amref',
 'Ministry Of Water',
 'Adb',
 'Jbg',
 'Dadis',
 'International Aid Services',
 'Germany',
 'Kibaha Town Council',
 'Dsdp',
 'Dfid',
 'Rural Water Supply And Sanitat',
 'Af',
 'Wananchi',
 'Fw',
 'No',
 'Dct',
 'Africare',
 'Norad /government',
 'British Colonial Government',
 'Co',
 'Ridep',
 'Tassaf',
 'Hans',
 'Socie',
 'Finw',
 'Fin Water',
 'Oxfam',
 'Plan International',
 'African Muslim Agency',
 'Go',
 'Cdtf',
 'Shawasa',
 'Un',
 'Awf',
 'Commu',
 'Community',
 'Save The Rain Usa',
 'Kibara Foundation',
 'Tlc',
 'Rc Churc',
 'Plan Int',
 'W.B',
 'Lvia',
 'Songea District Council',
 'Hifab',
 'Rc Ch',
 'Makonde Water Population',
 'Snv',
 'Government/ Community',
 'National Rural',
 'Is',
 'Giz',
 'Cspd',
 'Medicine',
 'Wsdp',
 'Unice/ Cspd',
 'Finn Water',
 'Kamama',
 'Villagers',
 'Ereto',
 'Abasia',
 'Unhcr',
 'Ebaha',
 'Kuwait',
 'Magadini-makiwaru Water',
 'Mh An',
 'Kaemp',
 'African Relie',
 'Rcchurch/cefa',
 'Norad/ Kidep',
 'Private Owned',
 'Tardo',
 'Insututional',
 'Sabemo',
 'Missi',
 'Dmdd',
 'Dhv\\norp',
 'Mission',
 'Ru',
 'Halmashauri Ya Wilaya Sikonge',
 'Japan',
 'Simone',
 'Ki',
 'Peace Cope',
 'Finland',
 'Marafip',
 'Ta',
 'Su-ki Jang',
 'Tado',
 'Tanzania',
 'Il',
 'Bank',
 'Ded',
 'Irc',
 'Sabodo',
 'Soda',
 'I.E.C',
 'Drdp Ngo',
 'Lwi',
 'Maxavella',
 'Ics',
 'African',
 'Bilila',
 'Tpp',
 'Cipro/government',
 'Tabora Municipal Council',
 'Salim Ahmed Salim',
 'Eu/acra',
 'Kadres Ngo',
 'Regional Water Engineer Arusha',
 'Quickwi',
 'Dhv Moro',
 'Hewasa',
 'Tasaf And Lga',
 'Jaica',
 'Village Res',
 'Kkkt-dioces Ya Pare',
 'Aic',
 'Solidarm',
 'Christan Outrich',
 'Kanisa La Menonite',
 'Islamic',
 'Rc',
 'Killflora',
 'Bread For The Wor',
 'Wua',
 'Mac',
 'Caltaz Kahama',
 'Mianz',
 'Dw',
 'Makapuchini',
 'Tasaf Ii',
 'Omar Ally',
 'Md',
 'Mitema',
 'Ham',
 'Quwkwin',
 'Do',
 'Dh',
 'Bokera W',
 'Bulyahunlu Gold Mine',
 'Mbiuwasa',
 'The Isla',
 'Rotary Club',
 'Muslims',
 'Care International',
 'Kimkuma',
 'Tanesco',
 'Mbozi District Council',
 'Dasip',
 'Tltc',
 'Sdg',
 'Hsw',
 'Mwaya Mn',
 'Resolute Mining',
 'Tz Japan',
 'Roman Cathoric Same',
 'Concern',
 'Caritas',
 'Conce',
 'Huches',
 'Wamarekani',
 'Devon Aid Korogwe',
 'Kiliwater',
 'Lamp',
 'Bsf',
 'Mem',
 'Jeica',
 'Father Bonifasi',
 'Bgm',
 'Lcgd',
 'Karadea Ngo',
 'Msf/tacare',
 'Fathe',
 'Unice',
 'Mdc',
 'Dasp',
 'Songea Municipal Counci',
 'Tasae',
 'Water User As',
 'Msikiti',
 'Cct',
 'Islamic Found',
 'Tgrs',
 'Unicef/ Csp',
 'Jimbo Fund',
 'Tlc/john Majala',
 'Magoma Adp',
 'Vwc',
 'Pidp',
 'Japan Government',
 'Kata',
 'De',
 'Acra',
 'Gtz',
 'Isf/government',
 'Kuwasa',
 'China Government',
 'Taboma',
 'P',
 'Kingupira S',
 'Churc',
 'Walokole',
 'Mkinga  Distric Cou',
 'Cafod',
 'Hw/rc',
 'Sumbawanga Munici',
 'Tacare',
 'Urt',
 'Camavita',
 'Member Of Parliament',
 'Dmmd',
 'Aqua Blues Angels',
 'Water Aid /sema',
 'Kirdep',
 'Cc Motor Day 2010',
 'Kilwater',
 'Ndrdp',
 'Hez',
 'Nethe',
 'Denat',
 'Kibo Brewaries',
 'Arab Community',
 'Elct',
 'Adp',
 'Priva',
 'Holland',
 'Rc Church/centr',
 'Cocen',
 'Wfp/tnt',
 'Lench Taramai',
 'Ncaa',
 'Mzee Don',
 'World Vision/ Kkkt',
 'Finwater',
 'Kuamu',
 'Dwssp',
 'Musilim Agency',
 'Ukiligu',
 'Wamakapuchini',
 'Mbunge',
 'The Desk And Chair Foundat',
 'Duwas',
 'Diwani',
 'Kkkt Church',
 'Ea',
 'Halmashauri Ya Manispa Tabora',
 'Finidagermantanzania Govt',
 'Bahewasa',
 'Jika',
 'Asb',
 'Qwiqwi',
 'Pmo',
 'Tuwasa',
 'Irish Ai',
 'Mdrdp',
 'Jeshi La Wokovu',
 'Government /tassaf',
 'Mboma',
 'People From Japan',
 'Kilindi District Co',
 'Shamte Said',
 'Auwasa',
 'Kidp',
 'Tridep',
 'St',
 'Wd And Id',
 'Serikali',
 'Kanisa Katoliki',
 'Po',
 'Ga',
 'Cocern',
 'Finida German Tanzania Govt',
 'National Rural And Hfa',
 'K',
 'Idara Ya Maji',
 'Moslem Foundation',
 'Swiss If',
 'Miziriol',
 'Yasini Selemani',
 'Dbspe',
 'H',
 'A/co Germany',
 'Oikos E.Africa/european Union',
 'Hydom Luthelani',
 'Ilct',
 'Peter Tesha',
 'Ms',
 'Mzungu Paul',
 'Caltas',
 'Red Cross',
 'Losaa-kia Water Supply',
 'Tassaf I',
 'Kanisa Katoliki Lolovoni',
 'Finland Government',
 'Gaica',
 'Institution',
 'Tcrs.Tlc',
 'Magereza',
 'Loliondo Parish',
 'Diocese Of Geita',
 'Total Landcare',
 'U.S.A',
 'Tdft',
 'Parastatal',
 'Rished',
 'Dwt',
 'The People Of Japan',
 'Kcu',
 'Abd',
 'Village Government',
 'Msabi',
 'Vc',
 'Cmsr',
 'Konoike',
 'Roman Catholic Rulenge Diocese',
 'Bened',
 'Shule',
 'W',
 'Partage',
 'Inkinda',
 'Robert Loyal',
 'Africa Amini Alama',
 'Imf',
 'L',
 'Moroil',
 'Sekei Village Community',
 'Us Embassy',
 'Missionaries',
 'Tcrs /government',
 'Desk And Chair Foundation',
 'Ms-danish',
 'Wsdp & Sdg',
 'Roman Cathoric-same',
 'Cefa-njombe',
 'Aar',
 'Village Govt',
 'Farm Africa',
 'Mheza Distric Counc',
 'Chamavita',
 'Mileniam Project',
 'Undp/ilo',
 'Dads',
 'Institutional',
 'Sowasa',
 'Ccpk',
 'Tasafu',
 'Government/ World Bank',
 'Luthe',
 'Wirara Ya Maji',
 'Mzee Mkungata',
 'Rada',
 'Twesa',
 'Plan Internatio',
 'Solidame',
 'Rwsso',
 'Williamson Diamond Ltd',
 'Tag',
 'Dar Al Ber',
 'Watu Wa Ujerumani',
 'Dwe/bamboo Projec',
 'Danida /government',
 'Semaki K',
 'Arabs Community',
 'Water Aid/sema',
 'District Rural Project',
 'Gen',
 'Redep',
 'Kiwanda Cha Samaki',
 'Singida Yetu',
 'Rwsp',
 'Moravian',
 'Sema S',
 'Cbhi',
 'Tcrs /care',
 'Makonde',
 'Millenium',
 'Swisland/mount Meru Flowers',
 'Kigoma Municipal',
 'Kinapa',
 'People Of Japan',
 'Kijij',
 'Wfp/tnt/usaid',
 'Tanapa',
 'Efg',
 'Local',
 'Kyariga',
 'Tanzakesho',
 'Roman Cathoric -kilomeni',
 'World Vision/adra',
 'Mbozi Secondary School',
 'Tasaf/dmdd',
 'Mws',
 'Shekhe',
 'Pataji',
 'Tahea',
 'Kalta',
 'Pentecosta Church',
 'Sekondari',
 'Kyela Council',
 'Kalitasi',
 'Quick Wins',
 'Lowasa',
 'Hotels And Loggs Tz Ltd',
 'Cobashec',
 'Orphanage',
 'Adf',
 'Wwf',
 'Idydc',
 'Cper',
 'School',
 'Ilo',
 'Olumuro',
 'Villaers',
 'Tlc/thimotheo Masunga',
 'Dak',
 'Kidep',
 'Ubalozi Wa Marekani',
 'Dmk Anglican',
 'Franc',
 'Ka',
 'Mgm',
 'Aimgold',
 'Mzee Omari',
 'Petro Patrice',
 'Camartec',
 'Loliondo Secondary',
 'Islamic Agency Tanzania',
 'Tanz Egypt Technical Cooper',
 'Safari Roya',
 'Koica',
 'Rdc',
 'Total Land Care',
 'Pad',
 'Msf',
 'Mamad',
 'Padep',
 'One Un',
 'Fabia',
 'Lake Tanganyika',
 'Italy',
 'Solar Villa',
 'Roman Church',
 'Singasinga',
 'Rc/mission',
 'In',
 'Adp Mombo',
 'Pci',
 'Norad/ Tassaf Ii',
 'I Wash',
 'Bs',
 'Kambi Migoko',
 'Ai',
 'Sauwasa',
 'Icdp',
 'Rotte',
 'Dhv/gove',
 'Kmcl',
 'Ccps',
 'Si',
 'Rundu Man',
 'Serikari',
 'Undp/aict',
 'Hdv',
 'Halmashauri',
 'Concern /govern',
 'Quick Win Project /council',
 'Mh Kapuya',
 'Halmashauri Ya Wilaya',
 'Baric',
 'Cpro',
 'Getekwe',
 'Gain',
 'Wahidi',
 'Asdp',
 'Kadp',
 'Aco/germany',
 'Majengo Prima',
 'Hortanzia',
 'Quick',
 'Hasnan Murig (mbunge)',
 'Ikeuchi Towels Japan',
 'Halmashauli',
 'Acord',
 'Menon',
 'Wate Aid/sema',
 'Dwe/ubalozi Wa Marekani',
 'Vifafi',
 'Cdg',
 'Kwasenenge Group',
 'Ded/rwssp',
 'Oldonyolengai',
 'None',
 'Village Community',
 'Minjingu',
 'El',
 'D',
 'Songas',
 'Mi',
 'Action Aid',
 'Tanroad',
 'Lake Tanganyika Basin',
 'Pwc',
 'Teonas Wambura',
 'Mgaya Masese',
 'Stantons',
 'Sao H',
 'Ukida',
 'Taasaf',
 'Mwita Kichere',
 'Lwf',
 'Mosque',
 'Peter Ngereka',
 'Svn',
 'Investor',
 "Ju-sarang Church' And Bugango",
 'Lgcdg',
 'Action Contre La Faim',
 'Kwamdulu Estate',
 'Quick Wins Scheme',
 'Cpps',
 'Belgian Government',
 'Cmcr',
 'Care Int',
 'Mavuno Ngo',
 'Niger',
 'Mwanza',
 'Zaburi And Neig',
 'Women For Partnership',
 'Artisan',
 'Sisa',
 'Cdcg',
 'Ndm',
 'Secondary',
 'Da Unoperaio Siciliano',
 'Town Council',
 'Lions Club',
 'Lutheran Church',
 'Shirika La Kinamama Na Watot',
 'Pangadeco',
 'Uyoge',
 'Canada',
 'Frankfurt',
 'Redet',
 'Rural Water Department',
 'Buptist',
 'Unp/aict',
 'Timothy Shindika',
 'Village Office',
 'Lotary Club',
 'Hesaw',
 'Malec',
 'Kuji Foundation',
 'Mamvua Kakungu',
 'Rusumo Game Reserve',
 'Mtuwasa And Community',
 'W.D.&.I.',
 'Act Mara',
 'Sda',
 'Mzinga A',
 'Vgovernment',
 'Re',
 'Loocip',
 'Sua',
 'Brdp',
 'Hamref',
 'Happy Watoto Foundation',
 'Gdp',
 'Lgdcg',
 'Jgb',
 'Mfuko Wa Jimbo',
 'Doddea',
 'Maliasili',
 'Roman Ca',
 'Tcrst',
 'Holla',
 'African Development Foundation',
 'Fptc - Pent',
 'Makona',
 'Oxfam Gb',
 'African 2000 Network',
 'Netherland',
 'Tabraki',
 'Balo',
 'Dadp',
 'Ikela Wa',
 'Rotary I',
 'Rwssp/wsdp',
 'Christian Outrich',
 'Cipro/care/tcrs',
 'Italian',
 'Kome Parish',
 'Mwanga Town Water Authority',
 'Jumanne Siabo',
 'Hindu',
 'Rural',
 'H/w',
 'Tanap',
 'Roman Cathoric Church',
 'Rombo Dalta',
 'Ilwilo Community',
 'Un/wfp',
 'St Ph',
 'Lwiji Italy',
 'Livin',
 'Cg',
 'Hhesawa',
 'Lwi & Central Government',
 'Lc',
 'Kkkt Leguruki',
 'Tanzania Compasion',
 'Louise Elucas Sala',
 'Hiap',
 'Cpps Mission',
 'Matyenye',
 'Dimon',
 'Italy Government',
 'Tag Church Ub',
 'Aic Church',
 'Wvc',
 'Lgcbg',
 'Tacri',
 'Chai Wazir',
 'Hasnein Murij',
 'Rural Water Supply And Sanita',
 'Simba Lodge',
 'Free Pentecoste Church Of Tanz',
 'Summit For Water',
 'Sanje Wa',
 'Makundya',
 'Uhai Wa Mama Na Mtoto',
 'Ola',
 'Ba As',
 'Tredep',
 'Nyanza Road',
 'Cgc',
 'Swidish',
 'Kizenga',
 'Hapa',
 'Ramadhani Nyambizi',
 'Denish',
 'Mkuyu',
 'Ras',
 'Mwinjuma Mzee',
 'Gachuma Ginery',
 'Resolute',
 'Morovian',
 'Water Board',
 'Kigoma Municipal Council',
 'Mafwimbo',
 'Pentecostal',
 'Rocci Ross',
 'Igolola Community',
 'Pancrasi',
 'S',
 'Rdws',
 'Said Omari',
 'Ngiresi Village Community',
 'Kilomber',
 'Sharifa Athuman',
 'Qwickwin',
 'Mwita Muremi',
 'Mbwana Omari',
 'Tlc/samora',
 'Mmem',
 'Haydom Lutheran Hospital',
 'Vicfish Ltd',
 'Afroz Ismail',
 'Sisal Estste Hale',
 'Eu',
 'Korea',
 'Cvs Miss',
 'Moradi',
 'Living Water International',
 'Kajima',
 'Uaacc',
 'Germany Misionary',
 'Rips',
 'France',
 'Bukumbi',
 'Rhobi',
 'Kiwanda Cha Tangawizi',
 'Ten Degree Hotel',
 'Wssp',
 'Meru Concrete',
 'Gg',
 'Wizara',
 'Segera Estate',
 'Hospital',
 'Dmk',
 'Siza Mayengo',
 'Greec',
 'Makli',
 'Mp',
 'Islam',
 'Dassip',
 'Rvemp',
 'Adp Bungu',
 'Thomasi Busigaye',
 'Sijm',
 'W.D & I.',
 'British Tanza',
 'Kkkt Ndrumangeni',
 'Tag Church',
 'Council',
 'Usambala Sister',
 'Hearts Helping Hands.Inc.',
 'Idea',
 'Filo',
 'Qwekwin',
 'Selous G',
 'Pentecostal Hagana Sweeden',
 'Ester Ndege',
 'Oikos E .Africa/european Union',
 'Nyabarongo Kegoro',
 'Quik',
 'Ringo',
 'Kanisani',
 'Wfp/usaid/tnt',
 'Village Council/ Haydom Luther',
 'Fpct Church',
 'Mzung',
 'Kwikwiz',
 'Kanisa La Mitume',
 'Iom',
 'Oda',
 'Caltus',
 'Gt',
 'Malola',
 'Water Project Mbawala Chini',
 'Totoland Care',
 'Nddp',
 'Kmt',
 'Anjuman E Seifee',
 'Nginila',
 'Usa Embassy',
 'Village',
 'Pdi',
 'T',
 'Hery',
 'Obc',
 'Nyamongo Gold Mining',
 'Women Fo Partnership',
 'Sister Francis',
 'Norani',
 'Mahita',
 'Kalebejo Parish',
 'Aixos',
 'Government',
 'Wrssp',
 'Ddp',
 'Game Division',
 'Rudep /dwe',
 'Kashwas',
 'Twende Pamoja',
 'Gwitembe',
 'Makori',
 'Sangea District Council',
 'Unicef/central',
 'Africa 2000 Network/undp',
 'Mmanya Abdallah',
 'Snv Ltd',
 'Taes',
 'Canada Aid',
 'Senapa',
 'Regwa Company Of Egypt',
 'Water Se',
 'Mamlaka Ya Maji Ngara',
 'Wama',
 'Prf',
 'Church',
 'Magadini Makiwaru Water',
 'Kayempu Ltd',
 'Trachoma',
 'Seleman Rashid',
 'Afriican Reli',
 'Tassaf Ii',
 'Samsoni',
 'Quick Wings',
 'Ngos',
 'Kurrp Ki',
 'Cast',
 'Rudep/norad',
 'Kwa Mzee Waziri',
 'Panone',
 'Lawate Fuka Water Suppl',
 'St Gasper',
 'Wug And Ded',
 'Pr',
 'Mmg Gold Mine',
 'Nordic',
 'Mchukwi Hos',
 'Dwst',
 'Serikaru',
 'African Realief Committe Of Ku',
 'Fao',
 'Scott',
 'Mzungu',
 'Vttp',
 'Vi',
 'Irish Government',
 'Namungo Miners',
 'Nassor Fehed',
 'Dbfpe',
 'Clause',
 'Busoga Trust',
 'Mzee Mabena',
 'Br',
 'Brad',
 'Koico',
 'Healt',
 'Ro',
 'Jeshi Lawokovu',
 'Paffect Mwanaindi',
 'Tansi',
 'Craelius',
 'Apm[africa Precious Metals Lt',
 'Zao Water Spring X',
 'Shinyanga Shallow Wells',
 'Cipro/care',
 'Vifaf',
 'Mtc',
 'Lungwe',
 'Dhinu',
 'Aic Kij',
 'Mataro',
 'Dagida',
 'Redap',
 'Nwssp',
 'Lench',
 'Wanakijiji',
 'Nk',
 'Nimrodi Mkono[mb]',
 'Maro',
 'Professor Ben Ohio University',
 'Rafael Michael',
 'Tdrs',
 'Bra',
 'Suwasa',
 'Twig',
 'Tanzania Egypt Technical Co Op',
 'Lifetime',
 'Comunedi Roma',
 'Unhcr/danida',
 'Bread Of The Worl',
 'Lutheran',
 'Tasf',
 'Rc Cathoric',
 'Halmashauri Wil',
 'Mgaya',
 'Grail Mission Kiseki Bar',
 'Answeer Muslim Grou',
 'John Gileth',
 'Care/dwe',
 'Liuwassa',
 'Ustawi',
 'Nssf',
 'Kilol',
 'Nado',
 'Judge Mchome',
 'Minis',
 'Milenia',
 'Water User Group',
 'Opec',
 'Government /sda',
 'Farm-africa',
 'Bffs',
 'Kyela-morogoro',
 'Ggm',
 'Msikitini',
 'Kwik',
 'Shelisheli Commission',
 'Mungaya',
 'Baptist Church',
 'Tgts',
 'Unknown',
 'Ndorobo Tours',
 'Zaben',
 'Serikali Ya Kijiji',
 'Enyueti',
 'Watu Wa Marekani',
 'Regina Group',
 'Snv-swash',
 'Seram',
 'Lcdg',
 'Adap',
 'Laizer',
 'African Barrick Gold',
 'Salehe',
 'Jumanne',
 'Masai Land',
 'Jipa',
 'S. Kumar',
 'Hpa',
 'Mp Mzeru',
 'W.D &',
 'Wafidhi Wa Ziwa T',
 'Matimbwa Sec',
 "Lee Kang Pyung's Family",
 'Rwsssp',
 'Rural Drinking Water Supply',
 'Mhoranzi',
 'Woyege',
 'Quick Win Project',
 'Muslimu Society(shia)',
 'Morovian Church',
 'Grazie Franco Lucchini',
 'Pankrasi',
 'Irevea Sister Water',
 'Unesco',
 'Iucn',
 'Kdc',
 ...]

As with the "installer" column, we do not have the time or resources to parse through the messy data in this column. As such, we'll drop this one as well.

In [25]:
drop_columns.append("funder")

In [26]:
print(df["management"].value_counts())

print('-----------------------------')

print(df['management_group'].value_counts())

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64
-----------------------------
user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64

These columns, which explore the same concept with differing levels of specificity, are not well-defined in our source material. Barring understanding of these terms and acronyms, we'll have to drop them from our model - we will not be able to describe them intelligently without additonal information. As such, these will also be dropped from our model.

In [27]:
drop_columns.extend(["management", "management_group"])

In [28]:
df["permit"].isna().sum()

3056

In [29]:
df["permit"].value_counts()

True     38852
False    17492
Name: permit, dtype: int64

In [30]:
df.loc[df['permit'] == True]["status_group"].value_counts(normalize=True)

functional                 0.554437
non functional             0.376145
functional needs repair    0.069417
Name: status_group, dtype: float64

In [31]:
df.loc[df['permit'] == False]["status_group"].value_counts(normalize=True)

functional                 0.517094
non functional             0.407443
functional needs repair    0.075463
Name: status_group, dtype: float64

In [32]:
df.loc[(df['permit'] != True)&(df['permit'] != False)]["status_group"].value_counts(normalize=True)

functional                 0.547448
non functional             0.354385
functional needs repair    0.098168
Name: status_group, dtype: float64

In [33]:
df.loc[(df['permit'] != True)&(df['permit'] != False), "permit"] = "Unknown"

In [34]:
df["permit"].value_counts()

True       38852
False      17492
Unknown     3056
Name: permit, dtype: int64

The wells with missing data in this column are unlike both the permitted and unpermitted wells: they are more likely to be in need of repair than either other set, while they have the fewest non-functional wells. As such, we'll use this as a distinct third group.

## Columns With Similar Descriptions

We have a large number of columns indicating the location of the wells. Let's look at them all:

In [35]:
print(df["region_code"].value_counts())

print('-----------------------------')

print(df['district_code'].value_counts())

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64
-----------------------------
1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

With no documentation of what these numbers correspond to, we'll need to drop these columns.

In [36]:
drop_columns.extend(["region_code", "district_code"])

 Let's explore the other location descriptions.

In [37]:
print(df['basin'].value_counts())

print('-----------------------------')

print(df['subvillage'].value_counts())

print('-----------------------------')

print(df['region'].value_counts())

print('-----------------------------')

print(df['lga'].value_counts())

print('-----------------------------')

print(df['ward'].value_counts())

Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64
-----------------------------
Madukani    508
Shuleni     506
Majengo     502
Kati        373
Mtakuja     262
           ...
Namilop       1
Wansambo      1
Ndwita        1
Namiyodi      1
Katende       1
Name: subvillage, Length: 19287, dtype: int64
-----------------------------
Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64
-----------------------------
Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Moshi Urban       79
Kigoma Urban      71
Arusha Urban      63
Lindi Urban       21
Nyamagana          1
Name: lga, Length: 125, dtype: int64
-----------------------------
Igosi        307
Imalinyi     252
Siha Kati    232
Mdandu       231
Nduruma      217
            ...
Chinugulu      1
Mitole         1
Linda          1
Nsemulwa       1
Simbay         1
Name: ward, Length: 2092, dtype: int64

Given these are describing the same thing (the location) with varrying levels of specificity, we'll need to narrow these down to a single column.

Based on background research, while the subvillages are the most specific of the location data, they are rather unweildy; many cannot be found by a google search. As such, we'll use the slightly less-specific, but more wieldy "ward" column.

Coordinates for individual wells are also given; as we do not have tools to work with these meaningfully, we'll drop them from the set.

In [38]:
drop_columns.extend(["lga", "latitude", "longitude", "subvillage", "region", "basin"])

There are a number of pairs or small groups of columns with identical descriptions, similar to the location. Let's look through them; we'll be keeping the most specific columns.

In [39]:
print(df['water_quality'].value_counts())

print('-----------------------------')

print(df['quality_group'].value_counts())

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64
-----------------------------
good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

The two have almost identical data; the main difference is the division of the "salty abandoned" and "flouride abandoned" columns in the water_quality column. We'll drop this column in favor of the water_quality column.

In [40]:
drop_columns.append("quality_group")

Similarly, quantity and quantity_group also have identical descriptions.

In [41]:
print(df['quantity'].value_counts())

print('-----------------------------')

print(df['quantity_group'].value_counts())

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64
-----------------------------
enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

These are identical, so we'll arbitrarily drop quantity_group.

In [42]:
drop_columns.append("quantity_group")

In [43]:
print(df['source'].value_counts())

print('-----------------------------')

print(df['source_type'].value_counts())

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64
-----------------------------
spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

We'll keep source since it distinguishes a handful of values that are grouped together in from source_type:
   1. "other" is split into "other" and "unknown" 
   2. "river/lake" is split into "river" and "lake"
   3. "borehole" is split into "hand dtw" and "machine dbh"

In [44]:
drop_columns.append("source_type")

In [45]:
print(df['waterpoint_type'].value_counts())

print('-----------------------------')

print(df['waterpoint_type_group'].value_counts())

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64
-----------------------------
communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

We'll keep the more specific classifications of waterpoint_type.

In [46]:
drop_columns.append("waterpoint_type_group")

In [47]:
print(df['extraction_type'].value_counts())

print('-----------------------------')

print(df['extraction_type_group'].value_counts())

print('-----------------------------')

print(df['extraction_type_class'].value_counts())

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64
-----------------------------
gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64
-----------------------------
gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

The most specific column is extraction_type; we'll drop the other two.

In [48]:
drop_columns.extend(["extraction_type_group", "extraction_type_class"])

In [49]:
print(df['payment'].value_counts())

print('-----------------------------')

print(df['payment_type'].value_counts())

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64
-----------------------------
never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

These two are identical except for having slightly different naming conventions, so we'll arbitrarily drop payment_type.

In [50]:
drop_columns.append("payment_type")

## Columns with Missing Values

In [51]:
df['construction_year'].value_counts().head()

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
Name: construction_year, dtype: int64

This column is missing nearly half its values, so we'll drop it.

In [52]:
drop_columns.append("construction_year")

In [53]:
df['population'].value_counts().head()

0      21381
1       7025
200     1940
150     1892
250     1681
Name: population, dtype: int64

This is also a large number of missing values; additionally, there are a large number of populations of "1" which are highly implausible. Futher, the area the population number refers to is unclear. We'll drop this column as well.

In [54]:
drop_columns.append("population")

In [55]:
df["amount_tsh"].value_counts()

0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
8500.0          1
6300.0          1
220.0           1
138000.0        1
12.0            1
Name: amount_tsh, Length: 98, dtype: int64

In [56]:
df.loc[df["amount_tsh"] == 0]["status_group"].value_counts()

functional                 19706
non functional             18885
functional needs repair     3048
Name: status_group, dtype: int64

Interestingly, we have a large number of wells that supposedly have no available water, yet over half of them are listed as being functional. Given the rest of the dataset often uses 0 in place of unknown values, this column seems unreliable. As such, we'll have to drop this column.

In [57]:
drop_columns.append("amount_tsh")

In [58]:
df["gps_height"].value_counts()

 0       20438
-15         60
-16         55
-13         55
-20         52
         ...
 2285        1
 2424        1
 2552        1
 2413        1
 2385        1
Name: gps_height, Length: 2428, dtype: int64

Similarly to amount_tsh, we don't have a good way to work around which values of 0 are authentic and which are actually nulls. As such, while this feature could be interesting, we'll have to drop it.

In [59]:
drop_columns.append("gps_height")

In [60]:
print(df["scheme_management"].isna().sum())

print('-----------------------------')

print(df['scheme_name'].isna().sum())

3877
-----------------------------
28166

Due to having so many nulls in a categorical variable, we'll have to delete these columns.

In [61]:
drop_columns.extend(["scheme_management", "scheme_name"])

In [63]:
drop_columns

['date_recorded',
 'recorded_by',
 'public_meeting',
 'num_private',
 'wpt_name',
 'installer',
 'funder',
 'management',
 'management_group',
 'region_code',
 'district_code',
 'lga',
 'latitude',
 'longitude',
 'subvillage',
 'region',
 'basin',
 'quality_group',
 'quantity_group',
 'source_type',
 'waterpoint_type_group',
 'extraction_type_group',
 'extraction_type_class',
 'payment_type',
 'construction_year',
 'population',
 'amount_tsh',
 'gps_height',
 'scheme_management',
 'scheme_name']

# Data Modeling
Describe and justify the process for analyzing or modeling the data.

***
Questions to consider:
* How did you analyze or model the data?
* How did you iterate on your initial approach to make it better?
* Why are these choices appropriate given the data and the business problem?
***

In [62]:
# Here you run your code to model the data

## Evaluation
Evaluate how well your work solves the stated business problem.

***
Questions to consider:
* How do you interpret the results?
* How well does your model fit your data? How much better is this than your baseline model?
* How confident are you that your results would generalize beyond the data you have?
* How confident are you that this model would benefit the business if put into use?
***

## Conclusions
Provide your conclusions about the work you've done, including any limitations or next steps.

***
Questions to consider:
* What would you recommend the business do as a result of this work?
* What are some reasons why your analysis might not fully solve the business problem?
* What else could you do in the future to improve this project?
***