In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import plot_confusion_matrix, recall_score,\
    accuracy_score, precision_score, f1_score

from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline as ImPipeline

In [2]:
pip install geocoder

Requirement already satisfied: geocoder in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (1.38.1)
Requirement already satisfied: click in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from geocoder) (8.1.3)
Requirement already satisfied: requests in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: six in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: ratelim in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: decorator in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests->geocoder) (1.25.10)
Requirement already satisfied: idna<3,>=2.5 in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests->geocoder) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests->geocoder) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install geopy

Requirement already satisfied: geopy in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from geopy) (2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install vega-datasets

Collecting vega-datasets
  Downloading vega_datasets-0.9.0-py3-none-any.whl (210 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 210.8/210.8 kB 6.3 MB/s eta 0:00:00
Requirement already satisfied: pandas in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from vega-datasets) (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pandas->vega-datasets) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pandas->vega-datasets) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pandas->vega-datasets) (1.23.4)
Requirement already satisfied: six>=1.5 in /Users/raulcassieltorresponce/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas->vega-datasets) (1.15.0)
Installing collected packages: vega-datasets
Successfully installed vega-datasets-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import folium 
from folium import plugins
import ipywidgets
import geocoder
import geopy
from vega_datasets import data as vds

In [2]:
folium.Map()

In [206]:
# two data sets
training_values = pd.read_csv("../data/training_set_values.csv")
training_labels = pd.read_csv("../data/training_set_labels.csv")

In [207]:
# this one only has functional and non functional
training_labels.head(5)

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [195]:
training_values.tail(5)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [196]:
training_values['payment'].value_counts().head(60)

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [197]:
training_values['extraction_type_class'].value_counts()

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

In [205]:
# we are going to drop all of these columns 
tra_v_dropped = training_values.drop(['installer', 'date_recorded', 'wpt_name', 
                                      'funder', 'population', 'extraction_type', 
                                      'construction_year', 'extraction_type_class', 
                                      'waterpoint_type_group','num_private', 'public_meeting',
                                      'source_type', 'quantity_group', 'water_quality'], axis=1)
tra_v_dropped.head(5)

,id,amount_tsh,gps_height,longitude,latitude,basin,subvillage,region,region_code,district_code,...,extraction_type_group,management,management_group,payment,payment_type,quality_group,quantity,source,source_class,waterpoint_type
0,69572,6000.0,1390,34.938093,-9.856322,Lake Nyasa,Mnyusi B,Iringa,11,5,...,gravity,vwc,user-group,pay annually,annually,good,enough,spring,groundwater,communal standpipe
1,8776,0.0,1399,34.698766,-2.147466,Lake Victoria,Nyamara,Mara,20,2,...,gravity,wug,user-group,never pay,never pay,good,insufficient,rainwater harvesting,surface,communal standpipe
2,34310,25.0,686,37.460664,-3.821329,Pangani,Majengo,Manyara,21,4,...,gravity,vwc,user-group,pay per bucket,per bucket,good,enough,dam,surface,communal standpipe multiple
3,67743,0.0,263,38.486161,-11.155298,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,...,submersible,vwc,user-group,never pay,never pay,good,dry,machine dbh,groundwater,communal standpipe multiple
4,19728,0.0,0,31.130847,-1.825359,Lake Victoria,Kyanyamisa,Kagera,18,1,...,gravity,other,other,never pay,never pay,good,seasonal,rainwater harvesting,surface,communal standpipe

In [209]:
# we are merging training_labels and training_v_dropped
df_merged = pd.merge(training_v_dropped, training_labels, on="id")
df_merged.tail(5)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,basin,...,management,management_group,payment,payment_type,water_quality,quantity,source,source_class,waterpoint_type,status_group
59395,60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,Pangani,...,water board,user-group,pay per bucket,per bucket,soft,enough,spring,groundwater,communal standpipe,functional
59396,27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,Rufiji,...,vwc,user-group,pay annually,annually,soft,enough,river,surface,communal standpipe,functional
59397,37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,Rufiji,...,vwc,user-group,pay monthly,monthly,fluoride,enough,machine dbh,groundwater,hand pump,functional
59398,31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,Rufiji,...,vwc,user-group,never pay,never pay,soft,insufficient,shallow well,groundwater,hand pump,functional
59399,26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,Wami / Ruvu,...,vwc,user-group,pay when scheme fails,on failure,salty,enough,shallow well,groundwater,hand pump,functional

In [201]:
df_merged['region'].value_counts()

Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64

In [202]:
df_merged['ward'].value_counts()

Igosi        307
Imalinyi     252
Siha Kati    232
Mdandu       231
Nduruma      217
            ...
Kitete         1
Ikweha         1
Kinungu        1
Ukata          1
Igogo          1
Name: ward, Length: 2092, dtype: int64

In [203]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   basin                  59400 non-null  object
 10  subvillage             59029 non-null  object
 11  region                 59400 non-null  object
 12  region_code            59400 non-null  int64
 13  district_code          59400 non-null  int64
 14  lga                    59400 non-null  object
 15  ward                   59400 non-null  object
 16  population             59400 non-null  int64
 17  public_meeting         56066 non-null  object
 18  recorded_by            59400 non-null  object
 19  scheme_management      55523 non-null  object
 20  scheme_name            31234 non-null  object
 21  permit                 56344 non-null  object
 22  construction_year      59400 non-null  int64
 23  extraction_type        59400 non-null  object
 24  extraction_type_group  59400 non-null  object
 25  extraction_type_class  59400 non-null  object
 26  management             59400 non-null  object
 27  management_group       59400 non-null  object
 28  payment                59400 non-null  object
 29  payment_type           59400 non-null  object
 30  water_quality          59400 non-null  object
 31  quantity               59400 non-null  object
 32  source                 59400 non-null  object
 33  source_class           59400 non-null  object
 34  waterpoint_type        59400 non-null  object
 35  status_group           59400 non-null  object
dtypes: float64(3), int64(6), object(27)
memory usage: 16.8+ MB

In [204]:
df_merged.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quantity                     0
source                       0
source_class                 0
waterpoint_type              0
status_group                 0
dtype: int64

In [215]:
df_merged['longitude'].value_counts()

0.000000     1812
37.540901       2
33.010510       2
39.093484       2
32.972719       2
             ...
37.579803       1
33.196490       1
34.017119       1
33.788326       1
30.163579       1
Name: longitude, Length: 57516, dtype: int64

In [217]:
df_merged['latitude'].value_counts()

-2.000000e-08    1812
-6.985842e+00       2
-3.797579e+00       2
-6.981884e+00       2
-7.104625e+00       2
                 ...
-5.726001e+00       1
-9.646831e+00       1
-8.124530e+00       1
-2.535985e+00       1
-2.598965e+00       1
Name: latitude, Length: 57517, dtype: int64